{% extends "layout.html" %}

{% block body %}

<section class=" body-font  flex">
  <div class="flex-1 container px-5 py-2 mx-auto flex flex-wrap items-center">
    <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
      <h1 class="title-font font-medium text-3xl text-white">Slow-carb next level shoindcgoitch ethical authentic, poko scenester</h1>
      <p class="leading-relaxed mt-4 text-grey-600">Poke slow-carb mixtape knausgaard, typewriter street art gentrify hammock starladder roathse. Craies vegan tousled etsy austin.</p>
    </div>
  </div>




  <!-- component -->
<div class="flex-2 shadow   rounded to w-full md:w-1/4  p-6 my-2 float-right container">
  <div class="flex justify-between items-center">
    <h4 class="uppercase text-grey text-xs text-wide tracking-wide font-thin ">Update</h4>
  </div>
  <h3 class="text-grey-dark text-sm font-bold font-sans leading-normal">Check our live Climate Corona Predictor!</h3>
  <p class="my-3 text-grey font-light tracking-wide font-sans leading-normal text-sm">The following predictor takes in consideration the humidity, temperature, wind speed and other weather parameter and predicts in which zone a particular country falls. </p>
  <form action="{{ url_for('live1') }}">
  <input class="appearance-none bg-transparent border-none w-full text-white mr-3 py-1 px-2 leading-tight focus:outline-none" list = "countries" type="text" placeholder="Enter Country" aria-label="Full name" name = "con" method = "post">
      <datalist id="countries">
        {% for country in a %}
        <option value={{ country }}></option>
        {% endfor %}
    </datalist>   
  <button class="bg-purple text-white px-3 py-2 rounded w-full mt-4 border-teal-500 hover:bg-teal-700 bg-teal-500">Get Prediction!</button>

  </form>

  <form action="{{ url_for('live') }}">
    <button class="bg-purple text-white px-3 py-2 rounded w-full mt-4 border-teal-500 hover:bg-teal-700 bg-teal-500">Refresh</button>
  </form>
  <br> 
  <p></p>
  <p class="text-white">Humidity : {{ d['humidity'] }}  </p>
  <p class="text-white">Wind Speed : {{ d['windspeed'] }}</p>
  <p class="text-white">Temperature : {{ d['temp'] }}</p>

  <p class="text-white">Prediction : {{ d['class'] }}</p>
  
  

</div>


</section>



{% endblock %}