{% extends "layout.html" %}

{% block body %}


<form class="w-full max-w-sm  px-6 py-6">
    <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
      <input class="appearance-none bg-transparent border-none w-full text-white mr-3 py-1 px-2 leading-tight focus:outline-none" list = "countries" type="text" placeholder="Enter Country" aria-label="Full name">
      <datalist id="countries">
        {% for country in a %}
        <option value={{ country }}></option>
        <!-- <option value="Albania"></option>
        <option value="Brazil"></option>
        <option value="India"></option> -->
        {% endfor %}

    </datalist>

      <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="button">
        Get Prediction
      </button>
      
    </div>
  </form>





{% endblock %}